<div class="tableView --zoomIn">
	<div class="tableView-title">
		<span class="tableView-title__name">{{tableViewService.modelTitle.name}}</span>
		<span class="tableView-title__icon">
			<img src="/assets/images/icons/icon-zoomIn.png" alt="" (click)="setZoomClass(false)">
			<img src="/assets/images/icons/icon-zoomOut.png" alt="" (click)="setZoomClass(true)">
			<img src="/assets/images/icons/icon-close.png" alt="" tableViewClose>
		</span>
	</div>
	<div class="tableView-content">
		<div class="tableView-content-heading" #tableHeading>
			<span>筛选年级：</span>
			<div class="--filters" (click)="popLeftPanel()">
				<span class="--filters__name">{{gradeName}}</span>
				<span class="--filters__icon" *ngIf="subjectName !== undefined" (click)="resetSingleFilter(subjectName)"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-shanchu"></use></svg></span>
			</div>
			<span>筛选科目：</span>
			<div class="--filters" (click)="popLeftPanel()">
				<span class="--filters__name">{{subjectName}}</span>
				<span class="--filters__icon" *ngIf="subjectName !== undefined" (click)="resetSingleFilter(subjectName)"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-shanchu"></use></svg></span>
			</div>
			<span>筛选教材版本：</span>
			<div class="--filters" (click)="popRightPanel()">
				<span class="--filters__name">{{versionName}}</span>
				<span class="--filters__icon" *ngIf="versionName !== undefined" (click)="resetSingleFilter(versionName)"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-shanchu"></use></svg></span>
			</div>
			<div class="--filters-button" (click)="resetFilters()">重置</div>
		</div>
		<div class="tableView-content-main" #tableViewMain>
			<div class="mainView-left">
				<ul class="user-list">
					<li *ngFor="let termYear of termYears" (click)="getCurrentTermYear(termYear.key)" [ngClass]="{'--active': termYearName === termYear.key}">
						<span><svg class="icon" aria-hidden="true"><use xlink:href="#icon-bianji1"></use></svg></span>
						<span>{{termYear.key}}</span>
					</li>
				</ul>
			</div>
			<div class="mainView-right">
				<app-teach-online [termYearName]="termYearName" [subjectName]="subjectName" [courseId]="subjectId" [versionName]="versionName"></app-teach-online>
			</div>
		</div>
		<div class="tableView-content-leftPanel" #leftPanel>
			<div class="tableView-content-leftPanel__title">学科列表</div>
			<ul class="tableView-content-leftPanel__list">
				<li *ngFor="let subject of subjects" (click)="getCurrentSubjectName(subject.name, subject.subjectId)" [ngClass]="{'--active': subjectName === subject.name}">{{subject.name}}</li>
			</ul>
		</div>
		<div class="tableView-content-rightPanel" #rightPanel>
			<div class="tableView-content-rightPanel__title">教材列表</div>
			<ul class="tableView-content-rightPanel__list">
				<li *ngFor="let version of versions" (click)="getCurrentVersionName(version.key)" [ngClass]="{'--active': versionName === version.key}">{{version.key}}</li>
			</ul>
		</div>
	</div>
</div>
<router-outlet></router-outlet>