@charset "utf-8";
@import "base/_reset";
@import "base/_common";
body {
    height: 100vh;
    @include back_image_jpg(platform-background, top, center);
    background-size: cover;
}

::-webkit-scrollbar {
    width: 8px;
    height: 0;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 134, 215, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 134, 215, 1);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 134, 215, 1);
}

input[type="text"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 4vh;
    line-height: 4vh;
    padding: 0 0 0 1vw;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #fff;
    resize: none;
    outline: 0;
    font-size: 0.7vw;
}

input[type="text"][required]:focus {
    border-color: #0086d7;
}

input[type="text"][required]:focus+label[placeholder]:before {
    color: #0086d7;
}

input[type="text"][required]:focus+label[placeholder]:before,
input[type="text"][required]:valid+label[placeholder]:before {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transform: translate(0, -1.8vh) scale(0.9, 0.9);
    transform: translate(0, -1.8vh) scale(0.9, 0.9);
}

input[type="text"][required]:invalid+label[placeholder][alt]:before {
    content: attr(alt);
}

input[type="text"][required]+label[placeholder] {
    display: block;
    pointer-events: none;
    margin-top: -4vh;
}

input[type="text"][required]+label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="checkbox"] {
    display: none;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
._numIndex{
    border-radius: 50%;
    font-size: 0.65vw;
    color: rgb(255, 255, 255);
    padding: 0.5vw;
    margin-left: 0.5vw;
    background-color: rgb(61, 167, 241);
}

%overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

$red: #ff8182;
$yellow: #f3b242;
$blue: #3da7f1;
$green: #33ca85;

/* 文本对齐
========================================================================== */

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}


/* 顶部快捷菜单
========================================================================== */

.top-navBar {
    position: fixed;
    top: 2vh;
    left: 1vw;
    z-index: 1;
    a {
        @include w_h_lh(2.9vw, 2.9vw, 2.9vw);
        display: block;
        font-size: 1.4vw;
        color: #ffffff;
        margin-right: 5px;
        border-radius: 50px;
        background-color: rgba(0, 0, 0, 0.6);
        overflow: hidden;
        position: relative;
        text-indent: 0.75vw;
        -webkit-transition: width 0.3s linear;
        transition: width 0.3s linear;
        margin-bottom: 15px;
    }
    .--folded {
        -webkit-animation: slideFolded 0.4s normal;
        animation: slideFolded 0.4s normal;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .--unfolded {
        @include w_h_lh(7.8vw, 2.9vw, 2.9vw);
        @extend %overflow;
        background-color: rgba(23, 89, 208, 0.8);
    }
    .__label {
        @include w_h_lh(4.5vw, 1.05vw, 1.05vw);
        @include po_tl(calc(2.9vw / 2 - 1.05vw / 2), 2.9vw);
        @extend %overflow;
        border-left: 1px solid #ffffff;
        font-size: 0.8vw;
    }
}


/* 主界面区
========================================================================== */

.mainView {
    @include w_h(35vw, 35vw);
    position: fixed;
    bottom: 29vh;
    left: calc(65vw / 2);
    border-radius: 50%;
    @include back_image_png(main-view_bg, center, bottom);
    background-size: 100% 100%;
    z-index: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &-avater {
        @include w_h_lh(15vw, 15vw, 15vw);
        @include po_tl(10vw, 10vw);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border: 1px dashed #23b8ff;
        border-radius: 50%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 1;
        img {
            @include w_h(7vw, 7vw);
            border-radius: 50%;
            -webkit-box-shadow: 0 0 0px 1.4vw #eaf9f9, 0 0 0px 2.5vw #d3f2f2;
            box-shadow: 0 0 0px 1.4vw #eaf9f9, 0 0 0px 2.5vw #d3f2f2;
        }
    }
    &-tabs {
        @include w_h(35vw, 35vw);
        position: fixed;
        bottom: 29vh;
        left: calc(65vw / 2);
        border-radius: 50%;
        z-index: 1;
        overflow: hidden;
        &-items {
            @include w_h(5vw, 5vw);
            position: absolute;
            text-align: center;
            cursor: pointer;
            outline: 0;
            .item-icon {
                @include w_h(2.5vw, 2.5vw);
                margin: 0.5vw auto;
                display: block;
                border-radius: 10px;
                border: 1px solid #5ecaf4;
            }
            .item-label {
                color: #5ecaf4;
                font-size: 0.8vw;
                display: block;
                @extend %overflow;
            }
        }
        &-items:first-child {
            top: 14vw;
            left: 2.5vw;
        }
        &-items:nth-child(2) {
            top: 14vw;
            right: 2.5vw;
        }
        &-items:nth-child(3) {
            bottom: 7vw;
            left: 5vw;
        }
        &-items:nth-child(4) {
            bottom: 7vw;
            right: 5vw;
        }
        &-center {
            width: 8vw;
            @include po_bl(3vw, 13.5vw);
            text-align: center;
            .item-info {
                display: block;
                font-size: 0.8vw;
            }
            .item-info:first-child {
                font-size: 1.5vw;
                margin-bottom: 10px;
            }
        }
    }
}


/* 窗体界面
========================================================================== */

@-webkit-keyframes tableViewApper {
    0% {
        bottom: 0;
        -webkit-transform: rotate(2160deg) scale(0);
        transform: rotate(2160deg) scale(0);
    }
    100% {
        bottom: 24vh;
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }
}

@keyframes tableViewApper {
    0% {
        bottom: 0;
        -webkit-transform: rotate(2160deg) scale(0);
        transform: rotate(2160deg) scale(0);
    }
    100% {
        bottom: 24vh;
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }
}

.tableView {
    position: fixed;
    z-index: 2;
    &-title {
        @include h_lh(6vh, 6vh);
        border-radius: 10px 10px 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        font-size: 1vw;
        color: #ffffff;
        padding-left: 4vw;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #0086d7;
        border-radius: 0;
        &__icon {
            margin-right: 1vw;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            img {
                @include w_h(15px, 15px);
                margin-left: 1vw;
                cursor: pointer;
            }
        }
    }
    &-form {
        height: calc(100% - 6vh);
        border: 1px solid #d0d0d0;
        border-top: 0;
        border-radius: 0 0 10px 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
    }
    &-content {
        height: calc(100% - 6vh);
        border: 1px solid #d0d0d0;
        border-top: 0;
        border-radius: 0 0 10px 10px;
        position: relative;
        &-heading {
            @include h_lh(6vh, 6vh);
            padding-left: 1.5vw;
            color: #5a5a5a;
            font-size: 0.8vw;
            font-weight: bold;
            border-bottom: 1px solid #d0d0d0;
            background-color: #ececec;
            .--filters {
                display: inline;
                margin: 0 2vw 0 1vw;
                padding: 0.2vw 0.5vw;
                font-size: 0.7vw;
                color: #ffffff;
                cursor: pointer;
                background-color: $blue;
                position: relative;
                &__icon {
                    font-size: 0.85vw;
                    padding: 0 0.2vw;
                }
                &__name {
                    padding: 0 0.3vw;
                    text-align: center;
                }
            }
            .--filters-button {
                display: inline;
                margin: 0 2vw 0 1vw;
                padding: 0.2vw 0.5vw;
                font-size: 0.7vw;
                color: #ffffff;
                cursor: pointer;
                background-color: $blue;
                position: relative;
            }
        }
        &-main {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .mainView-left {
                width: 15%;
                border-radius: 0 0 0 10px;
                background-color: #ececec;
                @at-root {
                    .user-list {
                        li {
                            width: 100%;
                            white-space: nowrap;
                            padding: 1.2vh 0;
                            cursor: pointer;
                            font-size: 0.8vw;
                            position: relative;
                        }
                        li.--active {
                            background-color: #ffffff;
                        }
                        &__name {
                            text-indent: 2em;
                            display: block;
                            @extend %overflow;
                        }
                        &-operate {
                            width: 0;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex-pack: distribute;
                            justify-content: space-around;
                            padding: 1.2vh 0;
                            @include po_tl(0, 100%);
                            background-color: #ffffff;
                            overflow: hidden;
                            -webkit-transition: width 0.3s;
                            transition: width 0.3s;
                            span {
                                padding: 3px 10px;
                            }
                        }
                        &-operate.--active {
                            width: 100%;
                            -webkit-transition: all 0.3s;
                            transition: all 0.3s;
                            -webkit-box-shadow: 2px 0 7px 1px rgba(0, 0, 0, 0.2);
                            box-shadow: 2px 0 7px 1px rgba(0, 0, 0, 0.2);
                        }
                    }
                }
            }
            .mainView-right {
                width: 85%;
                border-radius: 0 0 10px 10px;
                background-color: #ffffff;
                overflow: auto;
            }
            .mainView-single {
                width: 100%;
                border-radius: 0 0 10px 10px;
                background-color: #ffffff;
                overflow: auto;
            }
        }
        &-leftPanel,
        &-rightPanel {
            z-index: -1;
            &__title {
                @include h_lh(6vh, 6vh);
                text-align: center;
                color: #ffffff;
                font-size: 0.8vw;
                font-weight: bold;
                border-radius: 10px 10px 0 0;
                border: 1px solid rgb(0, 134, 215);
                border-bottom: 0;
                background-color: rgb(0, 134, 215);
            }
            &__list {
                height: calc(100% - 6vh);
                border: 1px solid rgb(208, 208, 208);
                border-top: 0;
                border-radius: 0 0 10px 10px;
                background-color: rgb(236, 236, 236);
                overflow: auto;
                li {
                    text-align: center;
                    padding: 1.2vh 0;
                    cursor: pointer;
                    font-size: 0.8vw;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
                li.--active {
                    background-color: #ffffff;
                }
            }
        }
        &-leftPanel {
            @include w_h(8vw, calc(100% - 2px));
            @include po_tl(0, 0);
        }
        &-rightPanel {
            @include w_h(12vw, calc(100% - 2px));
            @include po_tr(0, 0);
        }
    }
}

.tableView.--zoomIn {
    @include w_h(55vw, 66vh);
    top: 10vh;
    left: 23vw;
}

.tableView.--zoomOut {
    @include w_h(100vw, 100vh);
    top: 0;
    left: 0;
    .tableView-title,
    .tableView-content,
    .mainView-left,
    .mainView-right {
        border-radius: 0;
    }
}

/* 创建表单 */
.createForm {
    width: 50%;
    background-color: #ececec;
    overflow: auto;
    &-item {
        min-height: 4vh;
        line-height: 4vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin: 2vh 2vw;
        &__label {
            font-size: 0.8vw;
            margin-right: 1vw;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        &__input {
            width: 80%;
            margin-bottom: 10px;
        }
        &__button {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-right: 2vw;
            position: relative;
            &--choose {
                padding: 0 0.8vw;
                border-radius: 5px;
                cursor: pointer;
                border: 1px solid #0086d7;
                background-color: #0086d7;
                color: #ffffff;
            }
            &--hide {
                min-height: 4vh;
                @include po_tr(0, -60px);
                border: 1px solid #0086d7;
                overflow: hidden;
                z-index: 10;
                -webkit-transform: translateX(0px);
                transform: translateX(0px);
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                background-color: rgb(255, 255, 255);
                li {
                    padding: 0 0.8vw;
                }
            }
            &--hide.--show {
                -webkit-transform: translateX(60px);
                transform: translateX(60px);
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }
        }
        &__checkbox {
            width: 90%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &--item {
                @include h_lh(4vh, 4vh);
                padding: 0 0.8vw;
                margin: 0 10px 10px 0;
                border-radius: 5px;
                border: 1px solid rgb(204, 204, 204);
                background-color: rgb(255, 255, 255);
                cursor: pointer;
                display: block;
                float: left;
            }
            span input[type="checkbox"]:checked+label {
                color: #ffffff;
                background-color: #0086d7;
            }
            span:nth-child(2n + 2) label {
                margin: 0 10px;
            }

            span.--active {
                border: 1px solid #0086d7;
                background-color: #0086d7;
                color: #ffffff;
            }
            span.--disable {
                background-color: #B6B6B6;
                border: 1px solid #B6B6B6;
                color: #333333;
            }
        }
        &__icon {
            margin-left: 0.5vw;
            font-size: 1vw;
            cursor: pointer;
            color: #898989;
        }
        &__upload {
            width: 70%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .testPaper {
                padding: 0.5vh 0.5vw;
                color: #fff;
                border-radius: 5px;
                font-size: 12px;
                cursor: pointer;
                margin-right: 0.5vw;
                background-color: #ee6f6f;
            }
            .testPaper:disabled {
                color: #333;
                background-color: #d0d0d0;
            }
            .testPaper__choose {
                width: 100%;
                height: 4vh;
                padding: 0 0 0 1vw;
                border: 1px solid #cccccc;
                border-radius: 5px;
                background: #fff;
                resize: none;
                outline: 0;
                font-size: 0.7vw;
            }
        }
    }
    &-button {
        min-height: 4vh;
        line-height: 4vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 2vh 0;
        padding: 2vh 25% 0;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        border-top: 1px solid #cacaca;
        position: relative;
        span {
            padding: 0 0.8vw;
            border-radius: 5px;
            border: 1px solid #0086d7;
            background-color: #0086d7;
            cursor: pointer;
            color: #ffffff;
        }
    }
}

/* 创建关联 */
.createRelation {
    width: 50%;
    background-color: #ececec;
    overflow: auto;
    &-item {
        min-height: 4vh;
        line-height: 4vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 2vh 2vw;
        &__label {
            font-size: 0.8vw;
            margin-right: 1vw;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        &__checkbox {
            width: 70%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &--item {
                float: left;
                padding: 0 0.8vw;
                border-radius: 5px;
                border: 1px solid #cccccc;
                background-color: #ffffff;
                cursor: pointer;
            }
            span.active {
                border: 1px solid #0086d7;
                background-color: #0086d7;
                color: #ffffff;
            }
        }
        &__list {
            width: 70%;
            border: 1px solid #cccccc;
            background: white;
            border-radius: 5px;
            padding: 0.5vw 1vw 0;
            li:not(.pageList) {
                @include h_lh(4vh, 1.3);
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                padding-bottom: 1vh;
                margin-bottom: 2vh;
                border-bottom: 1px dashed #ccc;
            }
            &--paper {
                width: 81%;
                ._title {
                    font-size: 0.8vw;
                    display: block;
                }
                ._time {
                    color: #666;
                    font-size: 12px;
                }
            }
            &--btn {
                width: 19%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                input {
                    padding: 0.5vh 0.5vw;
                    color: #fff;
                    border-radius: 5px;
                    background-color: #ee6f6f;
                    font-size: 12px;
                    cursor: pointer;
                }
            }
        }
    }
    &-button {
        min-height: 4vh;
        line-height: 4vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 2vh 0;
        padding: 2vh 25% 0;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        border-top: 1px solid #cacaca;
        span {
            padding: 0 0.8vw;
            border-radius: 5px;
            border: 1px solid #0086d7;
            background-color: #0086d7;
            cursor: pointer;
            color: #ffffff;
        }
    }
}
/* 创建预览 */
.createView {
    width: 50%;
    background-color: #ffffff;
    &-item {
        @include h_lh(4vh, 4vh);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 2vh 2vw;
        &__label {
            font-size: 0.8vw;
            margin-right: 1vw;
        }
        &__view {
            width: 70%;
            border-bottom: 1px solid #cccccc;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            &--item {
                color: #666;
            }
        }
    }
    &-table {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1vw 2vh;
        margin: 2vh 2vw;
        &__card {
            color: #fff;
            font-size: 0.85vw;
            border-radius: 5px 5px 0 0;
            ._static {
                padding: 2vh 0.5vw;
                border-radius: 5px 5px 0 0;
                text-align: center;
                background-color: rgb(245, 160, 160);
            }
            ._hover {
                padding: 0.5vw;
                background-color: #696d71;
            }
        }
        &__card._onHover {
            -webkit-transform: perspective(800px) translateZ(30px);
            transform: perspective(800px) translateZ(30px);
            -webkit-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
            opacity: 1;
            -webkit-box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.4);
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
        }
        &__card._onLeave {
            opacity: 0.8;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
        }
    }
}

.creatSubset {
    width: 50%;
    background-color: #ffffff;
}

/* 文本域表单 */
.textareaForm{
    width: 100%;
    overflow: auto;
    background-color: #ffffff;
    &-item {
        min-height: 4vh;
        line-height: 4vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin: 2vh 2vw;
        &__label {
            font-size: 0.8vw;
            margin-right: 1vw;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        &__input {
            width: 90%;
        }
        &__button {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-right: 2vw;
            position: relative;
            &--choose {
                padding: 0 0.8vw;
                border-radius: 5px;
                cursor: pointer;
                border: 1px solid #0086d7;
                background-color: #0086d7;
                color: #ffffff;
            }
            &--hide {
                min-height: 4vh;
                @include po_tr(0, -60px);
                border: 1px solid #0086d7;
                overflow: hidden;
                z-index: 10;
                -webkit-transform: translateX(0px);
                transform: translateX(0px);
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                background-color: rgb(255, 255, 255);
                li {
                    padding: 0 0.8vw;
                }
            }
            &--hide.--show {
                -webkit-transform: translateX(60px);
                transform: translateX(60px);
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }
        }
        &__icon {
            margin-left: 0.5vw;
            font-size: 1vw;
            cursor: pointer;
            color: #898989;
        }
    }
    &-button {
        min-height: 4vh;
        line-height: 4vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 2vh 0;
        padding: 2vh 25% 0;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        border-top: 1px solid #cacaca;
        position: relative;
        span {
            padding: 0 0.8vw;
            border-radius: 5px;
            border: 1px solid #0086d7;
            background-color: #0086d7;
            cursor: pointer;
            color: #ffffff;
        }
    }
}

.paperView {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-animation: paperViewAppear 0.3s normal;
    animation: paperViewAppear 0.3s normal;
    &-title {
        @include w_h_lh(96%, 5vh, 5vh);
        margin: 3vh auto 0;
        border-radius: 5px 5px 0 0;
        font-size: 1.2vw;
        text-align: center;
        color: #ffffff;
        background-color: #ee6f6f;
    }
    &-content {
        @include w_h(calc(96% - 2px - 3vw), calc(100% - 5vh - 6vh - 1px - 3vw));
        border: 1px solid #c8c8c8;
        border-top: 0;
        border-radius: 0 0 5px 5px;
        margin: 0 auto 3vh;
        overflow: auto;
        padding: 1.5vw;
        &__item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            border-bottom: 1px dashed #ccc;
            padding-bottom: 1vh;
            margin-bottom: 2vh;
            font-size: 0.9vw;
            ._index {
                font-size: 1vw;
                color: #ee6f6f;
                margin-right: 10px;
            }
        }
    }
}


/* 窗体筛选组件
========================================================================== */

.filterView {
    display: block;
    height: auto;
    overflow: hidden;
    &-item {
        height: 6vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        float: left;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 2vw;
        &__label {
            @include h_lh(30px, 30px);
            padding: 0 15px 0 10px;
            margin-right: 10px;
            color: #ffffff;
            background-color: rgb(231, 71, 94);
            -webkit-clip-path: polygon(0% 0%, 75% 0, 100% 50%, 75% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 75% 0, 100% 50%, 75% 100%, 0% 100%);
        }
        &__list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            li {
                @include h_lh(3vh, 3vh);
                padding: 0 15px;
                cursor: pointer;
            }
            li.--active {
                //clip-path: polygon(0% 15%, 65% 15%, 65% 36%, 72% 52%, 88% 5%, 93% 17%, 73% 76%, 65% 58%, 65% 85%, 0 85%);
                background-color: rgb(0, 134, 215);
                color: #ffffff;
            }
        }
    }
}


/* 创建表单
========================================================================== */

@-webkit-keyframes paperViewAppear {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes paperViewAppear {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

.tableCreate {
    @include w_h(100vw, 100vh);
    top: 0;
    left: 0;
    border-radius: 0;
}


/* 作业进度详细
========================================================================== */

.workStatus {
    width: 90%;
    margin: 1.5vw auto 1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &-avater {
        @include w_h(4vw, 4vw);
        border: 1px solid #d0d0d0;
        border-radius: 5px;
        overflow: hidden;
    }
    &-progress {
        width: 50%;
        margin: 0 1.5vw;
        &__wrap {
            width: 75%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 3vh;
        }
        &__percentage {
            width: 6vw;
            min-height: 1.3vw;
            padding: 0.3vw 1.5vw;
            text-align: center;
            font-size: 0.9vw;
            border-radius: 5px;
            color: #ffffff;
            background-color: $blue;
            @extend %overflow;
        }
        &__strip {
            @include w_h(100%, 1vh);
            position: relative;
            background-color: #e7e7e7;
            border-radius: 20px;
            overflow: hidden;
        }
        &__current {
            @include w_h(100%, 1vh);
            @include po_tl(0, 0);
            border-radius: 20px;
            background-color: $green;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            -webkit-transition: -webkit-transform 0.8s linear;
            transition: -webkit-transform 0.8s linear;
            transition: transform 0.8s linear;
            transition: transform 0.8s linear, -webkit-transform 0.8s linear;
        }
    }
    &-status {
        width: calc(50% - 7vw);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        &__item {
            width: 4vw;
            margin-left: 1vw;
        }
        .item-label {
            @include w_h_lh(2.7vw, 2.7vw, 2.7vw);
            margin: 0 auto 0.3vw;
            border-radius: 50%;
            border: 1px solid;
            text-align: center;
            display: block;
        }
        ._item-yellow {
            border-color: $yellow;
            color: $yellow;
        }
        ._item-green {
            border-color: $green;
            color: $green;
        }
        ._item-blue {
            border-color: $blue;
            color: $blue;
        }
        .item-text {
            color: #474747;
            font-size: 0.6vw;
            text-align: center;
            display: block;
            @extend %overflow;
        }
    }
}

.workList {
    width: 90%;
    margin: 0 auto;
    &-label,
    &-item {
        @include h_lh(2vw, 2vw);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        border: 1px solid #e0e0e0;
        span {
            text-align: center;
            font-size: 0.75vw;
            @extend %overflow;
        }
        span:first-child {
            width: 10%;
        }
        span:nth-child(2) {
            width: 35%;
            cursor: pointer;
        }
        span:nth-child(3) {
            width: 20%;
        }
        span:nth-child(4) {
            width: 20%;
        }
        span:last-child {
            width: 15%;
        }
        ._excellent {
            color: $red;
            font-size: 1.3vw;
        }
    }
    &-label {
        border-radius: 5px 5px 0 0;
        background-color: #f1f1f1;
    }
    &-item {
        border-top: 0;
    }
}


/* 分页
========================================================================== */

.pageList {
    @include h_lh(3vh, 3vh);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0.7vw 0 0.9vw;
    a {
        padding: 0 0.5vw;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        margin: 0 5px;
        cursor: pointer;
    }
    a.active {
        color: #ffffff;
        background-color: rgb(0, 134, 215);
    }
}


/* 底部切换
========================================================================== */

.footer-navBar {
    @include w_h(100vw, 4.7vw);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    &-wrap {
        @include w_h(46vw, 4.7vw);
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        padding: 0 0.6vw;
        li {
            @include w_h(calc(46vw / 4), inherit);
            position: absolute;
            z-index: 1;
            cursor: pointer;
            background-color: transparent;
            outline: 0;
        }
        li._hoverShadow {
            @include w_h(calc(46vw / 4), 100%);
            position: absolute; // transform: translateX(calc(-46vw / 4 - 1.5vw));
            left: calc(-46vw / 4 - 1.5vw);
            -webkit-box-shadow: 0 0 5px 10px rgba(23, 89, 208, 0.5);
            box-shadow: 0 0 5px 10px rgba(23, 89, 208, 0.5);
            background: rgba(23, 89, 208, 0.5);
            z-index: 0;
        }
        li.--active {
            -webkit-box-shadow: 0 0 5px 10px rgba(23, 89, 208, 0.5);
            box-shadow: 0 0 5px 10px rgba(23, 89, 208, 0.5);
            background: rgba(23, 89, 208, 0.5);
        }
        $navBar-icon: courses,
        homework,
        exciting,
        person;
        @each $icon in $navBar-icon {
            li._#{$icon} ._chinese span {
                @include back_color_png(#707373, "icons/icon-" + $icon, center, center);
            }
        }
        .navBar-center {
            height: 2.7vw;
            margin: 1vw 21%;
            >div {
                @include h_lh(1.25vw, 1.25vw);
                display: block;
            }
            ._chinese {
                font-size: 0.9vw;
                color: #ffffff;
                padding-bottom: 5px;
                margin-bottom: 2px;
                border-bottom: 1px solid #ffffff;
                span {
                    @include w_h(1.15vw, 1.15vw);
                    float: left;
                    margin: 1px 10px 0 0;
                }
            }
            ._english {
                color: #ffffff;
                font-size: 0.7vw;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                @extend %overflow;
            }
        }
        li.--hover ._chinese span,
        li.--active ._chinese span {
            background-color: #1f89db;
        }
    }
}


/* 文件上传
========================================================================== */

.webuploader-container {
    @include w_h(5.2vw, 5.2vw);
    position: relative;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
    overflow: hidden;
    * {
        @include w_h(100%, 100%);
    }
    .upload-btn {
        @include po_tl(0, 0);
        opacity: 0;
        input {
            float: left;
            cursor: pointer;
            outline: 0;
        }
    }
}

.uploader-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    img {
        border: 1px solid #c6c6c6;
        border-radius: 10px;
        overflow: hidden;
    }
    .file-item {
        margin-right: 10px;
        position: relative;
    }
    ._close {
        @include w_h_lh(1vw, 1vw, 1vw);
        @include po_tr(-5px, -5px);
        border-radius: 50%;
        text-align: center;
        color: #fff;
        background-color: #a8a8a8;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    * {
        @include w_h(5.2vw, 5.2vw);
    }
}


/* 列表
========================================================================== */

.list-view-item {
    min-height: 15vh;
}

.list-view-item .list-card-inner {
    padding: 1.5vh 0;
}


/* 带标签卡片
========================================================================== */

.labelCard {
    -webkit-column-width: 15vw;
    column-width: 15vw;
    &-card {
        margin: 2vh 2% 0;
        display: inline-block;
        background-color: rgb(236, 236, 236);
    }
    &-title {
        @include w_h_lh(100%, 3vh, 3vh);
        text-align: center;
        color: #fff;
        background-color: rgb(245, 160, 160);
        cursor: pointer;
    }
    &-item {
        -webkit-column-width: 10vw;
        column-width: 10vw;
        li {
            margin: 0 0 2%;
            font-size: 0.75vw;
            padding: 0.2vh 0.3vw;
            display: inline-block;
            cursor: pointer;
        }
    }
}


/* 多栏布局
========================================================================== */

.item-column {
    overflow: hidden;
}

[class*="column-"] {
    float: left;
    margin: 2vh 1vw;
}

.column-2 {
    width: calc(50% - 2vw);
}

.column-3 {
    width: calc(100% / 3 - 2vw);
}

.column-4 {
    width: calc(25% - 2vw);
}


/* 卡片列表
========================================================================== */

.card {
    margin: 2vh 1vw;
    border-radius: 10px;
    background: #ffffff;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    &-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: flex-end;
        font-size: 1vw;
        padding: 2vh 1vw 0;
        span:first-child {
            padding-right: .5vw;
            border-right: 2px solid rgb(217, 217, 217);
        }
        span:not(:first-child) {
            font-size: 0.65vw;
            color: rgb(73, 73, 73);
            padding-left: 0.5vw;
            padding: 0.2vh 0.5vw;
            margin-left: 0.5vw;
            background-color: rgb(228, 228, 228);
        }
        &-image {
            padding: 0.5vmax;
            img {
                width: 100%;
            }
        }
        ._icon {
            font-size: 1.5vw;
            margin-right: 1vw;
        }
        ._icon-ask {
            color: rgb(207, 0, 0);
        }
        ._icon-reply {
            color: rgb(3, 132, 11);
        }
    }
    &-content {
        padding: 2vh 1vw;
        color: rgb(127, 127, 127);
        font-size: 1vw;
        span{
            margin-right: 0.5vw;
        }
        &-icon{
            color: rgb(210, 105, 30);
        }
        &-inner{
            display: flex;
            align-items: center;
        }
    }
    &-footer {
        padding: 1.5vh 1vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-top: 1px solid rgb(234, 234, 234);
        &-item {
            margin: 0 1vw;
            .hold-btn{
                margin-right: 1vw;
                cursor: pointer;
                user-select: none;
                .icon{
                    padding-right: 0.3vw;
                }
            }
            .hold-approve{
                color: red;
            }
            .hold-against{
                color: gray;
            }
        }
    }
}

.-hasDrawer{
    margin: 5vh 1vw;
    border-radius: 10px 0 10px 10px;
}


/* 卡片式列表
========================================================================== */

.list-card {
    border: 1px solid rgb(232, 232, 232);
    position: relative;
    margin: 1vmax;
    border-radius: 10px;
    &-header {
        font-size: 1vw;
        font-weight: bold;
        padding: 1vh 0;
        span:first-child {
            padding-right: .5vw;
            border-right: 2px solid rgb(174, 174, 174);
        }
        span:not(:first-child) {
            font-size: 0.65vw;
            color: rgb(73, 73, 73);
            padding-left: 0.5vw;
            padding: 0.2vh 0.5vw;
            margin-left: 0.5vw;
            background-color: rgb(228, 228, 228);
        }
    }
    &-inner {
        a {
            font-size: 0.8vw;
            color: #7c7c7c;
        }
    }
    &-footer {
        padding: 1vh 0;
        border-top: 1px solid #eee;
        margin-top: 1.5vh;
    }
}


/* Label */

.label-triangleUR {
    @include w_h_lh(4vmax, 4vmax, 10%);
    text-align: right;
    -webkit-transition: bakground 0.3s;
    transition: bakground 0.3s;
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgb(74, 138, 255) 50%, rgb(74, 138, 255) 100%);
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgb(74, 138, 255) 50%, rgb(74, 138, 255) 100%);
    span {
        font-size: 1.8vmax;
        display: block;
        color: rgb(255, 255, 255);
    }
}

.label-bookmark {
    @include w_h(2vmax, 56%);
    text-align: center;
    background-color: rgb(162, 162, 162);
    position: relative;
    span,
    a {
        font-size: 1vmax;
        display: block;
        color: rgb(255, 255, 255);
    }
    &:after {
        content: '';
        @include po_bl(0, 0);
        border-left: 1vmax solid transparent;
        border-right: 1vmax solid transparent;
        border-bottom: 1.3vmax solid #FFFFFF;
    }
}

.label-bookmark__current {
    -webkit-transition: bakground 0.3s;
    transition: bakground 0.3s;
    background-color: rgb(113, 37, 37);
}

.label-steeple {
    @include w_h(2vmax, 40%);
    text-align: center;
    background-color: rgb(195, 50, 50);
    position: relative;
    span,
    a {
        font-size: 1vmax;
        display: block;
        color: rgb(255, 255, 255);
    }
    &:before {
        content: '';
        @include po_tl(-1.3vmax, 0);
        border-left: 1vmax solid transparent;
        border-right: 1vmax solid transparent;
        border-bottom: 1.3vmax solid rgb(195, 50, 50);
    }
}

.label-drawer{
    padding: 0.5vh 1vw;
    position: absolute;
    border-radius: 5px 5px 0 0;
}
.drawer1{
    top: -3vh;
    right: 5vw;
    background-color: rgb(61, 167, 241);
    color: #ffffff;
}
.drawer2{
    top: -3vh;
    right: 0;
    background-color: rgb(237, 67, 67);
    color: rgb(255, 255, 255);
}

.label.--upper-right {
    @include po_tr(0, 0);
}

.label.--upper-left {
    @include po_tl(0, 0);
}

.label.--lower-left {
    @include po_bl(0, 0);
}

.label.--lower-right {
    @include po_br(0, 0);
}


/* Panel */

.panel {
    min-width: 15vw;
    min-height: 35vh;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid rgb(202, 202, 202);
}

.answer-prompt {
    top: 10%;
    left: 7%;
}

.answer-special {
    top: 10%;
    right: 5%;
}

.answer-popular {
    top: 50%;
    right: 5%;
}

/* 按钮 */
.buttonBox{
    display: flex;
    justify-content: space-around;
}
.button{
    width: 100%;
    margin: 0 1px;
    background-color: rgb(255, 131, 142);
    color: #ffffff;
    text-align: center;
    padding: 0.5vh 0.5vw;
    cursor: pointer;
    user-select: none;
}


/**
* TODO: 临时样式  更多精彩
*   at a later date. It wraps after 80 characters and following lines are
*   indented by 2 spaces.
*/

.tmp {
    @include w_h(80vw, 80vh);
    @include po_tl(10vh, 10vw);
    background-color: white;
    &-item {
        @include w_h_lh(calc(100% / 3), 20vh, 20vh);
        text-align: center;
        margin-bottom: 5vh;
        color: #fff;
        cursor: pointer;
        background: rgb(196, 99, 99);
    }
}
