<nav id="topNavBar">
  <a class="" href="###" title="" (mouseenter)="topBarItemEnter(0)" (mouseleave)="current = null" [ngClass]="{'--unfolded': current === 0, '--folded': current !== 0}">
    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-caidan"></use></svg>
    <span class="__label">学习设置</span>
  </a>
  <a class="" href="###" title="" (mouseenter)="topBarItemEnter(1)" (mouseleave)="current = null" [ngClass]="{'--unfolded': current === 1, '--folded': current !== 0}">
    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-59"></use></svg>
    <span class="__label">学习设置</span>
  </a>
  <a class="" href="###" title="" (mouseenter)="topBarItemEnter(2)" (mouseleave)="current = null" [ngClass]="{'--unfolded': current === 2, '--folded': current !== 0}">
    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-caidan"></use></svg>
    <span class="__label">学习设置</span>
  </a>
  <a class="" href="###" title="" (mouseenter)="topBarItemEnter(3)" (mouseleave)="current = null" [ngClass]="{'--unfolded': current === 3, '--folded': current !== 0}">
    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-caidan"></use></svg>
    <span class="__label">学习设置</span>
  </a>
  <a class="" href="###" title="" (mouseenter)="topBarItemEnter(4)" (mouseleave)="current = null" [ngClass]="{'--unfolded': current === 4, '--folded': current !== 0}">
    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-caidan"></use></svg>
    <span class="__label">学习设置</span>
  </a>
  <a class="" href="###" title="" (mouseenter)="topBarItemEnter(5)" (mouseleave)="current = null" [ngClass]="{'--unfolded': current === 5, '--folded': current !== 0}">
    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-floor"></use></svg>
    <span class="__label">学习设置</span>
  </a>
</nav>